#opciones-pedido {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

#tarjetas-pedidos {
    display: flex; /* Usar flexbox para el contenedor */
    flex-wrap: wrap; /* Permitir que las tarjetas se envuelvan en varias filas */
    justify-content: space-around; /* Distribuir el espacio entre las tarjetas */
}

.tarjeta-pedido {
    background-color: #FFFFFF; /* Color de fondo blanco */
    padding: 20px; /* Espacio interno */
    margin: 10px; /* Margen alrededor de cada tarjeta */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    width: calc(33% - 20px); /* Ancho de la tarjeta (3 tarjetas por fila) */
    max-width: 400px; /* Ancho máximo de la tarjeta */
    box-sizing: border-box; /* Incluir padding y borde en el ancho total */
    display: flex; /* Usar flexbox para el contenido interno */
    flex-direction: column; /* Colocar los elementos en columna */
}

.nombre-cliente,
.telefono-cliente,
.email-cliente,
.fecha-pedido,
.designs-incluidos {
    margin: 10px 0; /* Margen entre los párrafos */
}

.lista-designs {
    list-style-type: none; /* Sin viñetas */
    padding: 0; /* Sin padding */
}

.lista-designs li {
    margin: 5px 0; /* Margen entre los elementos de la lista */
    padding: 5px; /* Padding interno */
    background-color: #FEF9FF; /* Color de fondo suave para los elementos de la lista */
}

/* Estilo para el estado del pedido */
.estado-pedido {
    margin-top: auto; /* Empujar el estado del pedido hacia abajo */
    padding: 10px; /* Espacio interno */
    background-color: #FEF9FF; /* Color de fondo suave para el recuadro */
    text-align: center; /* Centrar el texto */
}

.estado-abierto {
    color: green; /* Color verde para estado abierto */
    font-weight: bold; /* Negrita para destacar el estado */
}

.estado-cerrado {
    color: red; /* Color rojo para estado cerrado */
    font-weight: bold; /* Negrita para destacar el estado */
}

#tarjetas-design-pedido-nuevo, #tarjetas-design-pedido-editar {
    display: flex; /* Usar flexbox para alinear las tarjetas */
    flex-wrap: wrap; /* Permitir que las tarjetas se envuelvan en varias líneas */
    justify-content: center; /* Centrar las tarjetas horizontalmente */
    gap: 20px; /* Espacio entre las tarjetas */
    padding: 20px; /* Espacio interno de la sección */
}