<!DOCTYPE html>
<html lang="es-VE">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta author="Alfredo Rondon, Oscar Manrique"/>
        <meta name="Description" content="Flower Place" />
        <title>Flower Place | Inicio</title>
        <link rel="icon" href="styles/images/logo-web.png" type="image/x-icon">
        <link rel="stylesheet" href="styles/styles.css"/>
    </head>
    <body>
        <header>
            <div id="main-title">
                <h1><a href="index.html">Flower Place</a></h1>
            </div>
            <div class="menu-bar">
                <h3><a href="gestion-productos.html">Productos</a></h3>
                <h3><a href="gestion-designs.html">Diseños</a></h3>
                <h3><a href="gestion-pedidos.html">Pedidos</a></h3>
                <h3><a href="gestion-perfil.html">Perfil</a></h3>
            </div>
        </header>
        <main>
            <div class="image-container">
                <div class="image-box">
                    <img src="styles/images/imagen-no-login-1.jpeg" alt="Iniciar Sesión">
                    <a href="gestion-perfil.html#iniciar-sesion" class="opcion-inicio"><p>Iniciar Sesión</p></a>
                </div>
                <div class="image-box">
                    <img src="styles/images/imagen-no-login-2.jpg" alt="Registrarse">
                    <a href="gestion-perfil.html#crear-perfil"class="opcion-inicio"><p>Registrarse</p></a>
                </div>
            </div>
            <section class="text" id="texto-no-login">
                <p>Para acceder a las funciones del sistema, debes iniciar sesión.</p>
                <p>[Explicación del sistema]</p>
            </section>
            <section class="text" id="texto-login">
                <p>Para acceder a las funciones del sistema, debes iniciar sesión.</p>
                <p>[Explicación del sistema]</p>
            </section>
        </main>
        <script src="scripts/script.js" type="text/javascript"></script>
    </body>
</html>